#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}
.btn {
  background-color: #34C52D;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid #34C52D !important;
  padding: 20px 20px;
}

.btn:hover {
  color: #34C52D !important;
  background-color: #34C52D;
}

.modal .ant-modal-content{
  padding: 50px 30px !important;
}
.input {
  height: 40px;
}
.input:hover {
  border-color: #34C52D !important;   
}
.input:focus {
  border-color: #388E3C !important;   
  box-shadow: 0 0 0 2px rgba(16, 238, 24, .3);
}
.modal .ant-btn-primary {
  background-color: #34C52D !important;
  border-color: #34C52D !important;
}
.modal .ant-btn-primary:hover {
  background-color: #33df2a !important;
}
.modal .ant-btn-default {
  color: #34C52D !important;
  border-color: #34C52D !important;
}
.modal .ant-btn-default:hover {
  color: #fff !important;
  background-color: #34C52D !important;
  border-color: #34C52D !important;
}